/* Hide the junk */
#wpbody-content > *:not(#wptelegram-comments-settings) {
    display: none !important;
}
#wpcontent {
    background-color: #fff;
}
.submit-wrap{
    position: fixed;
    right: 2em;
    bottom: 2em;
    z-index: 99;
    padding: 0px 10px;
}
.submit-button {
    height: 4em !important;
    width: 4em !important;
}
.submit-button i {
    font-size: 2em;
}
.header-logo{
    margin-right: 0.5em;
}

.social-link.telegram {
    display: flex;
    height: 20px;
    padding-top: 1px;
    padding-right: 8px;
    padding-left: 6px;
    padding-bottom: 1px;
    border-radius: 3px;
    text-decoration: none;
    background-color: #17a2b8;
}

.social-link.telegram > img {
    margin-right: 0.5em;
}
*::placeholder {
    color: #ccc;
}
a {
    text-decoration: none;
}
textarea {
    max-width: 500px;
}